<nav class="navbar navbar-expand-lg" style="background-color: black;color: white;">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/Logo.svg"  alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img src="../../assets/images/ico_dashboard.svg"  alt=""> 
                    Dashboard 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img src="../../assets/images/ico_users.svg" width="25" height="25" alt=""> 
                    Users
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img src="../../assets/images/ico_sessionmanager.svg" width="25" height="25" alt=""> 
                    SessionManager
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">  
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <img src="../../assets/images/ico_notification.svg" width="25" height="25" alt=""> 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../assets/images/ico_user.svg" width="25" height="25" alt=""> 
                    John Smith
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="dropdown-divider"></div>
                </div>
            </li> 
        </ul>
    </div>
</nav>