<div style="background-color: white;margin: 20px;">
  <div class="modal-header">
      <h4 class="modal-title" style="font-family: sans-serif;">Add User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form ngNativeValidate [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
          <div class="form-group">
            <input formControlName="Name" class="form-control" aria-describedby="Name" placeholder="Name" type="text" name="Name" id="Name" required>
          </div>
          <div class="form-group">
            <input formControlName="Email" class="form-control" type="email" name="Email" id="Email" placeholder="Email" required>
          </div>
          <div class="form-check form-check-inline" >
              <label class="form-check-label">
                  Role Type: &nbsp;
              </label>
              <input formControlName="RoleType" class="form-check-input" type="radio" name="RoleType" id="RoleType" value="Admin" checked >
              <label class="form-check-label" for="RoleType">
                Admin
              </label>
          </div>
          <div class="form-check form-check-inline">
              <input formControlName="RoleType" class="form-check-input" type="radio" name="RoleType" id="RoleType" value="Customer Executive" checked>
              <label class="form-check-label" for="exampleRadios1">
                Customer Executive
              </label>
          </div>
          <br>
          <br>
          <div class="form-group">
              <input class="form-control" aria-describedby="Mobile" type="text" name="Mobile" id="Mobile" placeholder="Mobile No (Optional)">
          </div>
          <div class="form-check form-check-inline">
              <label class="form-check-label">
                  Status: &nbsp;
              </label>
              <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Active" checked>
              <label class="form-check-label" for="RoleType">
                  Active
              </label>
          </div>
          <div class="form-check form-check-inline">
              <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Pending" checked>
              <label class="form-check-label" for="exampleRadios1">
                  Pending
              </label>
          </div>
          <div class="form-check form-check-inline">
              <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="InActive" checked>
              <label class="form-check-label" for="exampleRadios1">
                  InActive
              </label>
          </div>
          <br>
          <br>
          <button  type="submit" class="btn btn-primary btn-block" style="background-color: #FFA500; border-color: #FFA500;">Submit</button>
        </form>
    </div>
</div>